{{yield}}

<!--            
    <button type="submit" class="btn btn-default" {{action 'buttonClicked' item}}>{{buttonLabel}}</button>
    {{#paper-button raised=true onClick=(action 'buttonClicked' item)}}{{paper-icon "save"}} {{buttonLabel}}{{/paper-button}}            
-->

    {{#paper-form as |form|}}
    <div class="layout-column flex-50">
        {{form.input label="Name" value=item.name  onChange=(action (mut item.name)) required=true}}
        {{form.input label="Description" value=item.description onChange=(action (mut item.description))}}
        {{form.input label="Type e.g. SAML WS-FED" value=item.type onChange=(action (mut item.type)) required=true}}                
    </div>
    {{/paper-form}}

  {{#paper-card}}
    {{#paper-toolbar accent=true}}
      {{#paper-toolbar-tools}}
        <h2>Assertion Attributes</h2>

        <span class="flex"></span>
        {{#paper-button disabled=aaNotEditable  onClick=(action 'addAttribute' attrComposer) }}{{paper-icon "playlist add"}}Add Attribute{{/paper-button}}
        {{#paper-button  onClick=(action 'deleteRows') }}{{paper-icon "delete"}}Remove Attribute{{/paper-button}}          
        {{#paper-button onClick=(action "toggleSourceCodeFull") iconButton=true}}
          {{paper-icon icon="keyboard arrow down"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content}}
      <div class="doc-code-example {{if showSourceCodeFull 'is-visible'}}">
                {{#paper-form as |form|}}
                <div class="layout-column flex-50">
                    {{form.input label="Name" value=attrComposer.name  onChange=null required=true}}
                    {{form.input label="Map To" value=attrComposer.mapTo onChange=null}}
                    {{form.input label="Map Type" value=attrComposer.mapType onChange=null required=true}}                
                    {{form.input label="Location" value=attrComposer.location onChange=null required=true}}
                    {{#paper-checkbox value=isAdmin onChange=(action (mut isAdmin))}}Return Response{{/paper-checkbox}}
                </div>
                {{/paper-form}}
      </div>

        {{#light-table table as |t|}}

        {{t.head}}

          {{#t.body
            multiSelect=true
            as |body|
            }}

            {{#body.expanded-row as |row|}}
            Hello <b>{{row.name}}</b>
            {{/body.expanded-row}}

            {{#if isLoading}}
            {{#body.loader}}
                Loading...
            {{/body.loader}}
            {{/if}}

            {{#if table.isEmpty}}
            {{#body.no-data}}
                No users found.
            {{/body.no-data}}
            {{/if}}
        {{/t.body}}

        {{t.foot}}

        {{/light-table}}

    {{/paper-content}}

  {{/paper-card}}


