{{yield}}

<div class="form-horizontal">
    <div class="form-group">
<!--            
            <button type="submit" class="btn btn-default" {{action 'buttonClicked' item}}>{{buttonLabel}}</button>
-->
{{#paper-button raised=true onClick=(action 'buttonClicked' item)}}{{paper-icon "done"}} {{buttonLabel}}{{/paper-button}}            

    </div>
    {{#paper-form as |form|}}
    <div class="layout-column flex-50">
        {{form.input label="Name" value=item.name  onChange=null required=true}}
        {{form.input label="Description" value=item.description onChange=null}}
        {{form.input label="Type e.g. SAML WS-FED" value=item.type onChange=null required=true}}                
    </div>
    {{/paper-form}}

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file">
                    </span>Attributes</a>
<button type="submit" class="btn btn-default" {{action 'addAttribute' attrComposer}} >Add Attribute</button>
<button type="submit" class="btn btn-default" {{action 'deleteRows'}} >Remove Attribute</button>                    
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                {{#paper-form as |form|}}
                <div class="layout-column flex-50">
                    {{form.input label="Name" value=attrComposer.name  onChange=null required=true}}
                    {{form.input label="Map To" value=attrComposer.mapTo onChange=null}}
                    {{form.input label="Map Type" value=attrComposer.mapType onChange=null required=true}}                
                    {{form.input label="Location" value=attrComposer.location onChange=null required=true}}
                    {{#paper-checkbox value=isAdmin onChange=(action (mut isAdmin))}}Return Response{{/paper-checkbox}}
                </div>
                {{/paper-form}}
            </div>
        </div>


        {{#light-table table as |t|}}

        {{t.head}}

          {{#t.body
            multiSelect=true
            as |body|
            }}

            {{#body.expanded-row as |row|}}
            Hello <b>{{row.name}}</b>
            {{/body.expanded-row}}

            {{#if isLoading}}
            {{#body.loader}}
                Loading...
            {{/body.loader}}
            {{/if}}

            {{#if table.isEmpty}}
            {{#body.no-data}}
                No users found.
            {{/body.no-data}}
            {{/if}}
        {{/t.body}}

        {{t.foot}}

        {{/light-table}}



    </div>

  <!--
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'saveServiceProvider' model}}>Add</button>
    </div>
  </div>
-->  
</div>