{{#paper-card}}
    {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
        <h2>Existing Gateways</h2><span class="flex"></span>
            {{#paper-button onClick=(action "addGateway")}}
                {{paper-icon icon="add box"}}Add
            {{/paper-button}}
            {{#paper-button disabled=isDisabled4Edit onClick=(action "editGateway")}}
                {{paper-icon icon="edit"}}Edit
            {{/paper-button}}
            {{#paper-button disabled=isDisabled4Delete onClick=(action "deleteGateway")}}
                {{paper-icon icon="delete"}}Delete
            {{/paper-button}}                                 
            {{#paper-button onClick=(action "toggleSourceCodeFull") iconButton=true}}
            {{#if expanded}}
                {{paper-icon icon="cancel"}}
            {{else}}
                {{paper-icon icon="add circle"}}
            {{/if}}

            {{/paper-button}}
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{paper-divider}}
    <!-- Can we use paper-list here? here we only list gateways by using something like table -->
{{/paper-card}}

{{#light-table table height='65vh' as |t|}}

  {{t.head
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body
    multiSelect=true
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}