<!--
<button disabled={{isDisabled4Edit}} class="btn btn-default" {{action 'editSP'}} >Edit SP</button>
<button disabled={{isDisabled4Delete}} class="btn btn-default" {{action 'deleteSP'}} >Remove SP</button> 
-->
<div class="layout-row">
{{#paper-button raised=true disabled=isDisabled4Edit onClick=(action 'editSP')}}{{paper-icon "mode edit"}} Edit SP{{/paper-button}}
{{#paper-button raised=true disabled=isDisabled4Delete onClick=(action 'deleteSP')}}{{paper-icon "delete forever"}} Remove SP{{/paper-button}}
</div>

{{#light-table table height='65vh' as |t|}}

  {{t.head
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body
    multiSelect=true
    onScrolledToBottom=(action 'onScrolledToBottom')
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}