{{#paper-form onSubmit=(action "submitGateway") as |form|}}
    <div class="layout-row">
        {{paper-input required=true label="Name" value=item.name onChange=(action (mut item.name))}}
        {{#paper-checkbox value=item.enabled onChange=(action (mut item.enabled))}}Enable{{/paper-checkbox}}
    </div>
    <div class="layout-row">
        {{paper-input label="Description" value=item.description onChange=(action (mut item.description))}}
    </div>
    <h3>Domains</h3>
    {{paper-chips content=item.domainNames readOnly=readOnly removeItem=(action "removeDomain")
        addItem=(action "addDomain") placeholder="Add a domain"}}

    <div class="layout-row">
    {{#paper-select label="Type" options=scenarios selected=scenario 	onChange=(action (mut scenario))
        as |scenarioname|}} {{scenarioname}}
        {{/paper-select}}
    </div>

    {{#if (eq scenario 'Email')}}
    <div class="layout-row">
        {{paper-input required=true flex=50 label="Address/IP" value=config.email.ipAddress onChange=(action (mut config.email.ipAddress))}}
        {{paper-input required=true flex=20 label="Port" value=config.email.port onChange=(action (mut config.email.port))}}
    </div>

    <div class="layout-row">
        {{#paper-checkbox value=config.email.tls onChange=(action (mut config.email.tls))}}TLS{{/paper-checkbox}}
        {{#paper-checkbox value=config.email.needAuth onChange=(action (mut config.email.needAuth))}}Require Authentication{{/paper-checkbox}}
    </div>

    <div class="layout-row">
        {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
    </div>
   {{/if}} 
{{/paper-form}}