  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>DualShield</h2><span class="flex-5"></span>
            {{#paper-button iconButton=true onClick=(action "togglePinMode")}}
              {{paper-icon "view list"}}
            {{/paper-button}}
      <span class="flex"></span>

        {{#power-select options=locales selected=defCountry onchange=(action "changeLocale") as |locale|}}
        {{locale}}
        {{/power-select}}


      {{#paper-button iconButton=true}}{{paper-icon "warning"}}{{/paper-button}}       
      {{#paper-button}}{{paper-icon "message"}}{{t 'header.about'}}{{/paper-button}}      
      {{#paper-button iconButton=true}}{{paper-icon "notifications"}}{{/paper-button}}
      {{#paper-button}}{{paper-icon "person"}}Logout{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav class="side-menu md-whiteframe-z2 site-sidenav" lockedOpen="gt-sm"
    open=isSidenavOpen onToggle=(action (mut isSidenavOpen))}}
    {{#paper-content}}

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="{{if pinMode 'menubar-pin'}}  menubar-inverse ">
<div class="menubar-scroll-panel">
    <!-- BEGIN MAIN MENU -->
<ul id="main-menu" class="gui-controls">

	<!-- BEGIN DASHBOARD -->
	<li>
		<a href="../../html/dashboards/dashboard.html" >
			<div class="gui-icon">{{paper-icon 'home'}}</div>
			<span class="title">Dashboard</span>
		</a>
	</li><!--end /menu-li -->
	<!-- END DASHBOARD -->

	<!-- BEGIN EMAIL -->
	<li class="gui-folder">
		<a>
			<div class="gui-icon"><i class="md md-email"></i></div>
			<span class="title">Email</span>
		</a>
		<!--start submenu -->
		<ul>
			<li><a href="../../html/mail/inbox.html" ><span class="title">Inbox</span></a></li>
			<li><a href="../../html/mail/compose.html" ><span class="title">Compose</span></a></li>
			<li><a href="../../html/mail/reply.html" ><span class="title">Reply</span></a></li>
			<li><a href="../../html/mail/message.html" ><span class="title">View message</span></a></li>
		</ul><!--end /submenu -->
	</li><!--end /menu-li -->
	<!-- END EMAIL -->

	<!-- 
	<li>
		<a href="/service-providers" >
			<div class="gui-icon"><i class="md md-web"></i></div>
			<span class="title">{{t 'menubar.sps'}}</span>
		</a>
	</li>
 -->
 	<li>
	{{#link-to 'service-providers.index'}}
			<div class="gui-icon">{{paper-icon 'web'}}</div>
			<span class="title">{{t 'menubar.sps'}}</span>
	{{/link-to}}
	</li>
 	<li>
	{{#link-to 'application-wizard.index'}}
			<div class="gui-icon">{{paper-icon 'web'}}</div>
			<span class="title">Application Wizard</span>
	{{/link-to}}
	</li>
	<li>
	{{#link-to 'users'}}
			<div class="gui-icon">{{paper-icon 'web'}}</div>
			<span class="title">Users</span>
	{{/link-to}}
	</li>
	<li>
	{{#link-to 'tokens'}}
			<div class="gui-icon">{{paper-icon 'web'}}</div>
			<span class="title">Tokens</span>
	{{/link-to}}
	</li>

	<!-- BEGIN UI -->
	<li class="gui-folder {{if advanced 'expanded'}}">
		<a {{action 'clickMenuItem' 'advanced'}}>
			<div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
			<span class="title">Advanced</span>
		</a>
		<!--start submenu -->
		<ul>
			<li><a href="../../html/ui/colors.html" ><span class="title">Colors</span></a></li>
			<li><a href="../../html/ui/typography.html" ><span class="title">Typography</span></a></li>
			<li><a href="../../html/ui/cards.html" ><span class="title">Cards</span></a></li>
			<li><a href="../../html/ui/buttons.html" ><span class="title">Buttons</span></a></li>
			<li><a href="../../html/ui/lists.html" class="active"><span class="title">Lists</span></a></li>
			<li><a href="../../html/ui/tabs.html" ><span class="title">Tabs</span></a></li>
			<li><a href="../../html/ui/accordions.html" ><span class="title">Accordions</span></a></li>
			<li><a href="../../html/ui/messages.html" ><span class="title">Messages</span></a></li>
			<li><a href="../../html/ui/offcanvas.html" ><span class="title">Off-canvas</span></a></li>
			<li><a href="../../html/ui/grid.html" ><span class="title">Grid</span></a></li>
			<li class="gui-folder">
				<a href="javascript:void(0);">
					<span class="title">Icons</span>
				</a>
				<!--start submenu -->
				<ul>
					<li><a href="../../html/ui/icons/materialicons.html" ><span class="title">Material Design Icons</span></a></li>
					<li><a href="../../html/ui/icons/fontawesome.html" ><span class="title">Font Awesome</span></a></li>
					<li><a href="../../html/ui/icons/glyphicons.html" ><span class="title">Glyphicons</span></a></li>
					<li><a href="../../html/ui/icons/skycons.html" ><span class="title">Skycons</span></a></li>
				</ul><!--end /submenu -->
			</li><!--end /menu-li -->
		</ul><!--end /submenu -->
	</li><!--end /menu-li -->
	<!-- END UI -->
</ul><!--end .main-menu -->
<!-- END MAIN MENU -->
					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2017</span> <strong>Deepnet Security</strong>
						</small>
					</div>

</div>
			</div>

<!--
      {{#paper-list class="side-menu"}}






        {{#menu-item onClick=(transition-to "index")}}{{t 'menubar.introduction'}}{{/menu-item}}

        {{#menu-item  active=(is-active "service-providers.index" currentRouteName) onClick=(transition-to "service-providers")}}{{t 'menubar.sps'}}{{/menu-item}}        
        {{#menu-item  active=(is-active "application-wizard.index" currentRouteName) onClick=(transition-to "application-wizard")}}Application Wizard{{/menu-item}}
        {{#menu-item  active=(is-active "users" currentRouteName) onClick=(transition-to "users")}} Users{{/menu-item}}
        {{#menu-item  active=(is-active "tokens" currentRouteName) onClick=(transition-to "tokens")}}Tokens{{/menu-item}}


        {{#menu-item onClick=(action "toggleExpandedItem" "demos") expanded=demosExpanded canExpand=true}}Components{{/menu-item}}

        <div class="submenu">
          {{#liquid-if demosExpanded}}
            {{#submenu-item active=(is-active "demo.autocomplete" currentRouteName) onClick=(transition-to "demo.autocomplete")}}Autocomplete{{/submenu-item}}
            {{#submenu-item active=(is-active "demo.toolbar" currentRouteName) onClick=(transition-to "demo.toolbar")}}Toolbar{{/submenu-item}}
             {{#submenu-item active=(is-active "demo.virtual-repeat" currentRouteName) onClick=(transition-to "demo.virtual-repeat")}}Virtual Repeat{{/submenu-item}}
          {{/liquid-if}}
        </div>
        {{#menu-item active=(is-active "forms" currentRouteName) onClick=(transition-to "forms")}}Forms{{/menu-item}}
        {{#menu-item active=(is-active "typography" currentRouteName) onClick=(transition-to "typography")}}Typography{{/menu-item}}
        {{#menu-item active=(is-active "theme" currentRouteName) onClick=(transition-to "theme")}}Color & Theme{{/menu-item}}

        {{#menu-item onClick=(action "toggleExpandedItem" "layout") expanded=layoutExpanded canExpand=true}}Layout{{/menu-item}}
        <div class="submenu">
          {{#liquid-if layoutExpanded}}
            {{#submenu-item active=(is-active "layout.introduction" currentRouteName) onClick=(transition-to "layout.introduction")}}Introduction{{/submenu-item}}
            {{#submenu-item active=(is-active "layout.layout-containers" currentRouteName) onClick=(transition-to "layout.layout-containers")}}Layout Containers{{/submenu-item}}
            {{#submenu-item active=(is-active "layout.layout-children" currentRouteName) onClick=(transition-to "layout.layout-children")}}Layout Children{{/submenu-item}}
            {{#submenu-item active=(is-active "layout.child-alignment" currentRouteName) onClick=(transition-to "layout.child-alignment")}}Child Alignment{{/submenu-item}}
          {{/liquid-if}}
        </div>

        {{#menu-item active=(is-active "cookbook" currentRouteName) onClick=(transition-to "cookbook")}}Cookbook{{/menu-item}}
       
      {{/paper-list}}
--> 
    {{/paper-content}}
  {{/paper-sidenav}}

  <div class="flex layout-column working-area" tabindex="-1" role="main">
    {{outlet}}
  </div>
{{/paper-sidenav-container}}



