{{#paper-card}}
    {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
        <h2>Existing Gateways</h2><span class="flex"></span>
            {{#paper-button onClick=(action "toggleSourceCodeFull") iconButton=true}}
            {{#if expanded}}
                {{paper-icon icon="cancel"}}
            {{else}}
                {{paper-icon icon="add circle"}}
            {{/if}}

            {{/paper-button}}
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{paper-divider}}
    <!-- Can we use paper-list here? here we only list gateways by using something like table -->

{{configuration/gateway-item-form item=model buttonLabel='Add to library list' action='saveLibrary'}}

{{/paper-card}}

